h1{text-align: center;}
h2{text-align: center;}

.directory{position: absolute; width: 200px; height: 150px; line-height: 150px; background-color: orange; text-align: center; vertical-align: middle; color: white;}
.directory:hover{border: 2px solid yellow;}

.directoryDescription{position: absolute; width: 200px; height: 150px; background-color: yellow; color: black; left: 200px; top: 300px; text-align: center;}

#parent{left: 900px; top: 200px;}
#bin{left: 50px; top: 500px; display: none;}
#sbin{left: 350px; top: 500px; display: none;}
#etc{left: 650px; top: 500px; display: none;}
#dev{left: 950px; top: 500px; display: none;}
#proc{left: 1250px; top: 500px; display: none;}
#var{left: 1550px; top: 500px; display: none;}
#tmp{left: 50px; top: 800px; display: none;}
#usr{left: 350px; top: 800px; display: none;}
#home{left: 650px; top: 800px; display: none;}
#boot{left: 950px; top: 800px; display: none;}
#lib{left: 1250px; top: 800px; display: none;}
#opt{left: 1550px; top: 800px; display: none;}
#mnt{left: 350px; top: 1100px; display: none;}
#media{left: 650px; top: 1100px; display: none;}
#srv{left: 950px; top: 1100px; display: none;}

#binDescription{position: relative; left: 875px; top: 600px; color: orange; display: none;}
#sbinDescription{position: relative; left: 875px; top: 600px; color: orange; display: none;}